{% extends 'base.html' %}
{% load static %}
{% block title %}Ramsey's Life Story{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h2 class="mb-4 text-center">Biography</h2>

      <div class="d-flex justify-content-center">
        <img src="{% static 'main/ramsey_newborn.jpeg' %}" class="img-fluid rounded shadow-sm my-4" alt="Ramsey as a Puppy" style="max-width: 80%;">
      </div>

      <p>On April 5th 2021, Ramsey (originally named "Dragonfly" :/) was born on a farm near Shiloh, TN. She had many other australian brothers and sisters
        that she was probably frolicking around with in her first days. She also got her tail chopped off at the age of 1 day old, but im pretty sure she didn't even notice.
        Above is the first know picture of her existence.
      </p>

      <div class="d-flex justify-content-center">
        <img src="{% static 'main/ramsey_cici.JPEG' %}" class="img-fluid rounded shadow-sm my-4" alt="Ramsey Grown Up" style="max-width: 80%;">
      </div>

      <p>I adopted Ramsey at the age of 8 weeks, where we spent a few weeks in Collierville,TN in my parents' home. She was met there by our other two dogs,
        Cici (golden doodle) and Bear (nobody knows). As shown, Ramsey and Cici almost immediately bonded, while Bear mostly just tried to ignore whatever
        was happening.
      </p>

      <div class="d-flex justify-content-center">
        <img src="{% static 'main/ramsey_boston.jpg' %}" class="img-fluid rounded shadow-sm my-4" alt="Ramsey Grown Up" style="max-width: 80%;">
      </div>

      <p>From Tennessee, Ramsey set out for Boston, MA where she would have to take her first plane ride at the age of less than 3 months old.
        Once she arrived, she settled in quickly and would spend her afternoons exploring the Boston Commons. She became such a spectacle in the
        neighborhood, that it was a common for her to draw larger crowds of tourists than the nearby historical landmarks.
      </p>
    </div>
  </div>
</div>
{% endblock %}

